// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 


//styles for custom device width
@include mq($max-width: 1120px) {
  .container{
    width:920px;
  }
  .gains__item{
    width:50%;
  }
  .contacts, .contacts .container{
    height: auto;
    background-size:cover;
  }
  .contacts__left, .contacts__right{
    width:100%;
    float: none;
  }
}

@include mq($max-width: 930px) {
  .container{
    width:720px;
  }
  .wrapper{
    background: #fff !important;
  }
  .menu_trigger{
    display: block;
    font-size:20px;
    color: #fff;
    height:40px;
    line-height:40px;
    padding:0 20px;
    width:60px;
    cursor: pointer;
    position: relative;
    z-index:111;
  }
  .menu ul{
    position: fixed;
    top:0;
    left:-150px;
    opacity:0;
    z-index:101;
    height:100vh;
    width:150px;
    background: #0081a0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    @include transition(all 0.5s);
    &.active{
      left:0;
      opacity:1;
    }
  }
  .slogan, .logo{
    width:100%;
    text-align: center;
  }
  .gains section{
    text-align: center;
  }
  .ergonomics__item{
    text-align: center;
  }
  .ergonomics__item img{
    display: block;
    margin:0 auto;
    padding:0 0 10px 0;
  }
  .actuality__item{
    width:50%;
  }
  img{
    max-width: 100%;
  }
}

@include mq($max-width: 740px) {
  .container{
    width: auto;
    padding-left:5px;
    padding-right:5px;
  }
  .header .container{
    padding-left:0;
    padding-right:0;
  }
  .solution article{
    width:auto;
  }
  .top-slider .bx-prev, .top-slider .bx-next{
    display: none;
  }
  .tag{
    background: #efefef;
    height: auto;
    padding:45px 0;
    margin-bottom:30px;
  }
  .title{
    text-align: center !important;
  }
  .ergonomics h6{
    text-align: center;
  }
  .actuality__item{
    width:100%;
  }
  .contacts__right{
    height: auto;
  }
  .footer__top > div {
    width: 100%;
    text-align: center;
  }
  .footer__right ul{
    list-style-position: inside;
  }
  .top-slider__block{
    height: auto;
    width:100%;
  }
  .top-slider{
    height: auto;
    padding:50px 0;
    background-size:cover;
  }
  .slogan{
    padding-bottom:30px;
  }
  .logo-slogan{
    height: auto;
    padding-bottom:30px;
  }
  .slogan{
    font-size:40px;
  }
  .solution nav a{
    margin:0 10px 0 0 ;
  }
  .top-slider h5, .title{
    font-size:35px;
  }
}

@include mq($max-width: 500px) {
  .gains__item{
    width:100%;
  }
  .contacts__right{
    padding:10px;
  }
  .footer__bottom{
    text-align: left;
  }
}